@font-face {
  font-family: "Norse";
  src: url("../norse/Norsebold.otf");
  font-weight: bold;
}
.nav {
  height: 70px;
  width: 100vw;
  background: #fff;
  margin-bottom: 50px;
  padding: 0 20px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__img {
  display: flex;
  align-items: center;
}
.nav__odin {
  height: 60px;
  width: 45.16;
}
.nav__text {
  font-size: 1.5rem;
  text-transform: uppercase;
  padding-left: 12px;
  font-family: "Norse";
  color: #cc9543;
}
.nav__menu--sm {
  width: 30px;
  height: 60px;
}
@media screen and (min-width: 768px) {
  .nav__menu--sm {
    display: none;
    justify-self: flex-end;
  }
}
.nav__menu-links,
.nav__menu-divider {
  font-size: 1rem;
  color: rgba(74,74,74,0.702);
  font-weight: bold;
  padding: 0 8px;
  text-transform: capitalize;
}
@media screen and (max-width: 767px) {
  .nav__menu-links,
  .nav__menu-divider {
    display: none;
  }
}
.container {
  padding-top: 70px;
}
.container .header__text {
  font-size: 2.25rem;
  text-align: center;
  color: #ce973e;
  padding-bottom: 30px;
  font-weight: 300;
}
.container .subheader {
  padding-bottom: 70px;
}
.container .subheader__p {
  font-size: 1.125rem;
  margin-bottom: 16px;
  color: rgba(74,74,74,0.702);
  text-align: center;
}
.container .subheader__link {
  color: #cc9543;
  text-decoration: underline;
  text-align: center;
}
.container .header-btn {
  padding-bottom: 60px;
}
.container .header-btn__container {
  margin: auto;
}
.container .header-btn__btn {
  padding: 16px 40px;
  color: #fff;
  text-transform: capitalize;
  font-weight: bold;
  height: 3.5rem;
  width: 15.625rem;
  background: #6abfc3;
  border: none;
  font-size: 1rem;
  font-family: "roboto", sans-serif;
  border-radius: 0.2em;
}
.container .hero-img__img {
  width: 100vw;
  margin-left: -20px;
}
.container .how-it-works {
  padding-top: 60px;
  margin-bottom: 70px;
}
.container .how-it-works__container {
  padding: 0 15px;
  text-align: center;
  margin: 0 90px 48px;
}
.container .how-it-works__header {
  font-size: 1.5rem;
  margin-bottom: 36px;
  color: #4a4a4a;
}
.container .how-it-works__p {
  font-size: 1.125rem;
  color: rgba(74,74,74,0.702);
  padding-top: 18px;
  line-height: 1.88;
}
@media screen and (min-width: 768px) {
  .container .how-it-works__tiles {
    display: flex;
    flex-direction: row;
  }
}
.container .how-it-works__tile {
  padding: 16px;
  width: 100vw;
  margin-left: -20px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .container .how-it-works__img {
    height: 165px;
  }
}
.container .how-it-works__tile-header {
  font-size: 1.125rem;
  color: #4a4a4a;
  margin: 50px 0 20px;
  text-transform: capitalize;
}
.container .how-it-works__tile-p {
  font-size: 1.125rem;
  color: rgba(74,74,74,0.702);
}
.container .learn-everything {
  background: #f3f3f3;
  padding: 60px 0;
  margin: 0 -20px;
}
.container .learn-everything__header {
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  margin: 0 30px;
  margin-bottom: 60px;
}
.container .learn-everything__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  margin: 0 80px;
}
.container .learn-everything__tile {
  margin: auto;
}
.container .learn-everything__tile-flex {
  display: flex;
  flex-direction: column;
  padding: 23px 46px 25px;
  margin-bottom: 30px;
  width: fit-content;
  background: #fff;
  box-shadow: 0 7px 16px 0 rgba(0,0,0,0.05);
}
.container .learn-everything__tile-img {
  width: 160px;
  height: 160px;
  margin: auto;
}
.container .learn-everything__tile-header {
  font-size: 1.125rem;
  margin: 18px 0 8px;
  text-align: center;
  color: #4a4a4a;
  text-transform: uppercase;
}
.container .learn-everything__btn-container {
  margin: auto;
}
.container .learn-everything__btn {
  text-transform: capitalize;
  font-size: 1rem;
  color: #fff;
  font-weight: bold;
  background: #cc9543;
  margin-top: 40px;
  padding: 16px 40px;
  border: none;
  border-radius: 0.2em;
  box-shadow: 0 0.05em 0.25em rgba(0,0,0,0.5);
}
.container .success-stories {
  background: linear-gradient(#fff, #eee);
  margin: 0 -20px;
}
.container .success-stories__header {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 8px;
  padding-top: 70px;
  text-transform: capitalize;
  text-align: center;
}
.container .success-stories__container {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.container .success-stories__story {
  display: flex;
  padding-bottom: 36px;
  margin: 0 90px;
}
.container .success-stories__story-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}
.container .success-stories__img-container {
  padding-top: 16px;
  margin: 0 20px;
}
.container .success-stories__info,
.container .success-stories__name {
  font-size: 1.125rem;
  color: #ce973e;
}
.container .success-stories__p {
  font-size: 1.125rem;
  color: rgba(74,74,74,0.702);
  line-height: 1.88;
}
.container .success-stories__read-more {
  font-size: 1rem;
  color: rgba(74,74,74,0.702);
  padding-top: 30px;
  text-align: center;
  text-decoration: underline;
}
.container .cta {
  background: #eee;
  padding: 80px 40px;
  margin: 0 -20px;
}
.container .cta__header {
  font-size: 2.2rem;
  color: rgba(74,74,74,0.702);
  margin-bottom: 61px;
  text-align: center;
}
.container .cta__btn-container {
  margin: auto;
}
.container .cta__btn {
  font-size: 1rem;
  font-weight: bold;
  padding: 16px 40px;
  background: #6abfc3;
  border: none;
  border-radius: 0.2em;
  box-shadow: 0 0.05em 0.25em rgba(0,0,0,0.5);
}
.container .cta__btn a {
  color: #fff;
}
.container .footer__flex-container {
  display: flex;
}
.container .footer__soc-media-container {
  flex-grow: 2;
  display: flex;
  font-size: 24px;
  justify-content: space-around;
  align-items: center;
}
.container .footer__soc-media-container a {
  color: #cc9543;
}
.container .footer__link-container {
  flex-grow: 1;
}
.container .footer__link-flex {
  display: flex;
  width: fit-content;
  margin: 30px auto;
}
.container .footer__link-flex-section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.container .footer__link-flex-section a {
  text-transform: capitalize;
  font-size: 1rem;
  color: rgba(74,74,74,0.702);
  font-weight: bold;
  width: 130px;
  height: 30px;
  display: flex;
  align-items: center;
}
.container .footer__img {
  display: none;
}
@media screen and (min-width: 768px) {
  .container .footer__img {
    display: flex;
  }
}
