@font-face {
  font-family: "Norse";
  src: url("../norse/Norsebold.otf");
  font-weight: bold;
}
* {
  outline: 1px solid #f00;
}
.nav {
  height: 70px;
  width: 100vw;
  background: #fff;
  margin-bottom: 50px;
  padding: 0 20px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__img {
  display: flex;
  align-items: center;
}
.nav__odin {
  height: 60px;
  width: 45.16;
}
.nav__text {
  font-size: 1.5rem;
  text-transform: uppercase;
  padding-left: 12px;
  font-family: "Norse";
  color: #cc9543;
}
.nav__menu {
  width: 30px;
  height: 60px;
}
.container {
  padding-top: 70px;
}
.container .header__text {
  font-size: 2.25rem;
  text-align: center;
  color: #ce973e;
}
