@font-face
	font-family "Norse"
	src url("../norse/Norsebold.otf")
	font-weight bold

color_cc = #cc9543
color_ce = #ce973e
color_4a = #4a4a4ab3
box-shadow = 0 0.05em 0.25em rgba(0, 0, 0, 0.5)

*
	// outline 1px solid red

.nav
	height 70px
	width 100vw
	background white
	margin-bottom 50px
	padding 0 20px
	position fixed
	display flex
	justify-content space-between
	align-items center

	@media screen and (min-width 768px)
		padding 0 30px
		position unset

	@media screen and (min-width 1025px)
		padding 0 168px

	&__img
		display flex
		align-items center

	&__odin
		height 60px
		width 45.16

	&__text
		sz = 24 / 16 * 1rem
		font-size sz
		text-transform uppercase
		padding-left 12px
		font-family "Norse"
		color color_cc

	&__menu
		&--sm
			width 30px
			height 60px

			@media screen and (min-width 768px)
				display none
				justify-self flex-end

		&-links, &-divider
			font-size 1rem
			color color_4a
			font-weight bold
			padding 0 8px
			text-transform capitalize

			@media screen and (max-width 767px)
				display none

.container
	padding-top 70px

	@media screen and (min-width 768px)
		padding-top unset

	.header
		&__text
			sz = 36 / 16 * 1rem
			font-size sz
			text-align center
			color color_ce
			padding-bottom 30px
			font-weight 300

	.subheader
		padding-bottom 70px

		&__p
			sz = 18 / 16 * 1rem
			font-size sz
			margin-bottom 16px
			color color_4a
			text-align center

		&__link
			color color_cc
			text-decoration underline
			text-align center

	.header-btn
		padding-bottom 60px

		&__container
			margin auto

		&__btn
			height = 56 / 16 * 1rem
			width = 250 / 16 * 1rem
			padding 16px 40px
			color white
			text-transform capitalize
			font-weight bold
			height height
			width width
			background #6abfc3
			border none
			font-size 1rem
			font-family "roboto", sans-serif
			border-radius 0.2em

	.hero-img
		&__img
			width 100vw
			margin-left -20px

	.how-it-works
		padding-top 60px
		margin-bottom 70px

		&__container
			padding 0 15px
			text-align center
			margin 0 90px 48px

		&__header
			sz = 24 / 16 * 1rem
			font-size sz
			margin-bottom 36px
			color #4a4a4a

		&__p
			sz = 18 / 16 * 1rem
			font-size sz
			color color_4a
			padding-top 18px
			line-height 1.88

		&__tiles
			@media screen and (min-width 768px)
				display flex
				flex-direction row

		&__tile
			padding 16px
			width 100vw
			margin-left -20px
			text-align center

		&__img
			@media screen and (min-width 768px)
				height 165px

		&__tile-header
			sz = 18 / 16 * 1rem
			font-size sz
			color #4a4a4a
			margin 50px 0 20px
			text-transform capitalize

		&__tile-p
			sz = 18 / 16 * 1rem
			font-size sz
			color color_4a

	.learn-everything
		background #f3f3f3
		padding 60px 0
		margin 0 -20px

		&__header
			sz = 24 / 16 * 1rem
			font-size sz
			text-align center
			font-weight bold
			margin 0 30px
			margin-bottom 60px

		&__grid
			display grid
			grid-template-columns repeat(2, 1fr)
			grid-template-rows repeat(4, 1fr)
			margin 0 80px

			@media screen and (min-width 992px)
				width 950px
				display flex
				flex-wrap wrap
				justify-content center
				margin auto

		&__tile
			margin auto

			@media screen and (min-width 992px)
				margin 0 30px 30px 0

			&-flex
				display flex
				flex-direction column
				padding 23px 46px 25px
				margin-bottom 30px
				width fit-content
				background white
				box-shadow 0 7px 16px 0 rgba(0, 0, 0, 0.05)

			&-img
				width 160px
				height 160px
				margin auto

			&-header
				sz = 18 / 16 * 1rem
				font-size sz
				margin 18px 0 8px
				text-align center
				color #4a4a4a
				text-transform uppercase

		&__btn-container
			margin auto

		&__btn
			text-transform capitalize
			font-size 1rem
			color white
			font-weight bold
			background color_cc
			margin-top 40px
			padding 16px 40px
			border none
			border-radius 0.2em
			box-shadow box-shadow

	.success-stories
		background linear-gradient(#fff, #eee)
		margin 0 -20px

		&__header
			font-weight bold
			sz = 24 / 16 * 1rem
			font-size sz
			margin-bottom 8px
			padding-top 70px
			text-transform capitalize
			text-align center

		&__container
			margin-top 100px
			display grid
			grid-template-columns repeat(1, 1fr)
			grid-template-rows repeat(4, 1fr)

		&__story
			display flex
			padding-bottom 36px
			margin 0 90px

			&-img
				width 50px
				height 50px
				object-fit cover
				border-radius 50%

		&__img-container
			padding-top 16px
			margin 0 20px

		&__info, &__name
			sz = 18 / 16 * 1rem
			font-size sz
			color color_ce

		&__p
			sz = 18 / 16 * 1rem
			font-size sz
			color color_4a
			line-height 1.88

		&__read-more
			font-size 1rem
			color color_4a
			padding-top 30px
			text-align center
			text-decoration underline

	.cta
		background #eee
		padding 80px 40px
		margin 0 -20px

		&__header
			sz = 35.2 / 16 * 1rem
			font-size sz
			color color_4a
			margin-bottom 16px + 45px
			text-align center

		&__btn-container
			margin auto

		&__btn
			font-size 1rem
			font-weight bold
			padding 16px 40px
			background #6abfc3
			border none
			border-radius 0.2em
			box-shadow box-shadow

			a
				color white

	.footer
		&__flex-container
			display flex

		&__soc-media-container
			flex-grow 2
			display flex
			font-size 24px
			justify-content space-around
			align-items center

			a
				color color_cc

		&__link-container
			flex-grow 1

		&__link-flex
			display flex
			width fit-content
			margin 30px auto

			&-section
				flex-grow 1
				display flex
				flex-direction column

				a
					text-transform capitalize
					font-size 1rem
					color color_4a
					font-weight bold
					width 130px
					height 30px
					display flex
					align-items center

		&__img
			display none

			@media screen and (min-width 768px)
				display flex