@font-face
	font-family "Norse"
	src url("../norse/Norsebold.otf")
	font-weight bold

color_cc = #cc9543
color_ce = #ce973e
color_4a = #4a4a4ab3

*
	outline 1px solid red

.nav
	height 70px
	width 100vw
	background white
	margin-bottom 50px
	padding 0 20px
	position fixed
	display flex
	justify-content space-between
	align-items center

	&__img
		display flex
		align-items center

	&__odin
		height 60px
		width 45.16

	&__text
		sz = 24 / 16 * 1rem
		font-size sz
		text-transform uppercase
		padding-left 12px
		font-family "Norse"
		color color_cc

	&__menu
		width 30px
		height 60px

.container
	padding-top 70px

	.header
		&__text
			sz = 36 / 16 * 1rem
			font-size sz
			text-align center
			color color_ce
			padding-bottom 30px
			font-weight 300

	.subheader
		padding-bottom 70px

		&__p
			sz = 18 / 16 * 1rem
			font-size sz
			margin-bottom 16px
			color color_4a
			text-align center

		&__link
			color color_cc
			text-decoration underline
			text-align center

	.header-btn
		padding-bottom 60px

		&__container
			margin auto

		&__btn
			height = 56 / 16 * 1rem
			width = 250 / 16 * 1rem
			padding 16px 40px
			color white
			text-transform capitalize
			font-weight bold
			height height
			width width
			background #6abfc3
			border none
			font-size 1rem
			font-family "roboto", sans-serif
			border-radius 0.2em

	.hero-img
		&__img
			width 100vw
			margin-left -20px
